*{margin: 0%;
padding: 0%;
box-sizing: border-box;

}
body{
  background-color: rgb(159, 99, 202);
}







.figura1{
  border-radius: 10px;
   width: 290px;

height: 170px;
background-color: rgb(238, 234, 241);
margin-left: 10px;




}
h3{ margin-left: 150px;
font-size: 20px;
}
p{
  margin-left: 150px;
}
.botao1{ margin-left: 170px;
margin-top: 35px;
}
.maps{ margin-left: 10px;
margin-top: 30px;




}
.bola1{
  background-color: rgb(250, 243, 243);

  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-top: 35px;

}
.mapa{margin-left: 10px;
margin-top: 20px;
}
.bola2{ background-color: rgb(250, 243, 243);

  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-top: 35px;
}
.bola3{
  background-color: rgb(250, 243, 243);

  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-top: 35px;
}
.bola4{
  background-color: rgb(250, 243, 243);

  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-top: 35px;






}
.nuvemm{
border-radius: 22px;
  width: 160px;
  height: 220px;
  background-color: #e5e5e5dc;
margin-top: 30px
}
.foto2{border-radius: 10px;
width: 160px;



}



h1{margin-left: 45px;
font-size: 20px;
}

.paragrafo{margin-left: 55px;
font-size: 10px;
opacity: 40%;
}
.carddois{
  border-radius: 22px;
  width: 130px;
  height: 290px;
  background-color: #e5e5e5dc;
margin-top: 30px
}
.imagem2{ height: 180px;
border-radius: 22px 22px 0px 0px;
}
.h11{margin-left: 10px;
font-size: 18px;
margin-top: 10px;
}
.paragrafo1{
  margin-left: -140px;
  margin-top: 10px;
  opacity: 50%;
}
.cardtres{border-radius: 22px;
  width: 330px;
  height: 360px;
  background-color: #e5e5e5dc;
margin-top: 30px
}
.imagem5{
  height: 230px;
border-radius: 20px 20px 0px 0px;
}
.paragrafo3{ margin-top: 10px;
margin-left: 50px;



}
.botao2{ margin-left: 110px;
margin-top: 30px;
border-radius: 30px;}

  
  















































}





}









  

  




  



